:host {
  --color: #ddd;
  & {
    position: relative;
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  } 
  .i {
    position: relative;
    &,
    &::after,
    &::before {
      display: inline-block;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background: var(--color);
      cursor: pointer;
    }
    &::after,
    &::before {
      content: '';
      position: absolute;
    }
    &::after {
      top: -6px;
    }
    &::before {
      top: 6px;
    }
  }
}